# Ignore video files in all folders
**/*.mp4

# Ignore PyTorch model files in all folders
**/*.pt

# Ignore JSON files in all folders
**/*.json

# Ignore PNG files in all folders
**/*.png

# Ignore .env files in all folders
**/.env
